/*
  Book Page

  A Page is usually a section inside a chapter. It contains:

  - `[data-type='metadata']` The attribution information for this Page
  - `[data-type='document-title']` The title of the Page

  Markup: ./book.page.html-cooked.html

  Style guide: book.page
*/
/*
  Page Elements

  Everything in here is specific to a Page in a book.
  A Page is usually a section inside a chapter.

  Style guide: page
*/
[data-type='page'] {
  /*
    Metadata

    This contains attribution information and is sometimes collated to the
    back of the book.

    Markup:
    <div data-type="page">
      <div data-type="metadata">...</div>
    </div>

    Style guide: page.0-metadata
  */
  /*
    Processing Instruction

    These are an artifact of the transforms and will disappear in the future

    Markup:
    <div data-type="page">
      <cnx-pi />
    </div>

    Style guide: page.0-processing
  */ }
  [data-type='page'] > cnx-pi {
    display: none; }

/*
  Term

  A term which is used to make the Book Index and optionally defined again in a glossary.

  **TODO:** The link in the index is an empty element so it does not show up

  Markup: ./page.term.html-cooked.html

  Style guide: page.term
*/
[data-type='term'] {
  font-weight: bold; }

/*
  Note

  A note or "feature". This is usually separated visually from the rest of the
  content in a book with a border and a separate background color.

  Contains an optional title, and optionally an additional class to help style the note

  Markup: ./page.note.html-cooked.html

  Style guide: page.note
*/
/*
  Figure

  A `<figure>` is wrapped in a `<div data-type='figure'>` which contains:
  - optional `[data-type='title']`
  - `figure` element
    - `[data-type='media']` : a wrapper element which may disappear in the future
      - `img[src][alt]` : The image for the Figure

  TODO: Maybe this should use the `<picture>` element instead of the `[data-type='media']` element:
  http://www.html-cooked.html5rocks.com/en/tutorials/responsive/picture-element/

  Markup: ./page.figure.html-cooked.html

  Style guide: page.figure
*/
/*
  Paragraph

  A Paragraph of text. Some of the common things it can contain are:

  - `[data-type='term']` : A term that is defined elsewhere (in the glossary)
  - `strong`
  - `em`
  - `[data-type='list']` : an inline list
    - `[data-type='item']` : an item in the list
  - `math` : MathML

  TODO: Move these into a separate "inline" section in the HTML guide

  Markup: ./page.para.html-cooked.html

  Style guide: page.para
*/
/*
  Section

  A (sub)section of content which contains a title.

  Markup: ./page.section.html-cooked.html

  Style guide: page.section
*/
/*
  Example

  An example which is usually styled to not be part of the flow of normal content
  (similar to a Note).

  Markup: ./page.example.html-cooked.html

  Style guide: page.example
*/
/*
  Exercise

  An exercise contains a problem, optional title, and optional solution(s).

  Exercises are usually numbered and contain a link to the solution if it exists.
  Typically, an exercise is collated at the end of chapter.

  Solutions are collated (at the end of section, end of chapter or end of book), they are numbered (the number is the same as the exercise they are associated to) and link back to their exercise.

  Markup: ./page.exercise.html-cooked.html

  Style guide: page.exercise
*/
/*
  Equation

  An equation wraps a MathML formula and is usually numbered.

  Markup: ./page.equation.html-cooked.html

  Style guide: page.equation
*/
/*
  Glossary

  This element is often referred to as Key Terms in the textbook.
  It is collated as a separate Page at the end of a Chapter or a Book.
  Also, it is collected from individual glossary elements in each raw Page.

  Markup: ./book.glossary.html-cooked.html

  Style guide: book.glossary
*/
/*
  Table

  Without a title, the `table` element may contain a `caption`, `tbody`, `col`, and other _usual_ elements.

  Markup: ./page.table.html-cooked.html

  Style guide: page.table
*/
/*
  Composite Page

  These are end-of-book or end-of-chapter Pages.

  A Composite Page is one that is automatically generated by moving/copying content from the raw pages.
  Examples include the end-of-chapter exercises, end-of-book solutions, end-of-chapter glossary, index.

  They:

  - must use data-type="composite-page".
  - must have a unique identifier (class) for styling purposes.
  - usually contain content separated by section(pages) or by chapter.
  - now appear in the TOC (currently not the case in the PDF).
  - aren't numbered in the content and in the TOC (the chapters and sections are)
  - follow the same rules as a regular data-type="page" (header hierarchy, metadata, etc.)

  Style guide: book.composite
*/
/*
  Chapter

  A Chapter contains a title and multiple Pages, one of which may be a `.introduction` Page.

  The introduction page typically contains a splash image, a chapter outline and an introductory paragraph.

  Markup: ./book.chapter.html-cooked.html

  Style guide: book.chapter
*/
/*==========================================================
  STATISTICS PAGES
==========================================================*/
/*
  Self-Check Questions

  These should be collated at the end of a chapter
  and have answers collated at the end of the chapter.

  **Notes:** Even without the styling you can see a few problems with the ruleset code:

  1. the rulesets use the class attribute when they should use the `data-type`
  1. the solution is being duplicated
  1. the solution is inside the link text that points back to the problem
  1. new id's are generated rather than using the existing id attributes for the problem and solution

  Markup: ./examples/book.composite.self-check-questions.html-cooked.html

  Style guide: book.composite.self-check-questions
*/
/*==========================================================
  STATISTICS TITLING CONTENT
==========================================================*/
/*==========================================================
  STATISTICS CONFIG
==========================================================*/
:pass(0) div.preface > [data-type="document-title"] {
  container: h1;
  content: content(); }
:pass(0) :not([data-type="metadata"]) > [data-type="document-title"] {
  content: ''; }
  :pass(0) :not([data-type="metadata"]) > [data-type="document-title"]::after {
    content: content();
    container: span;
    class: "text"; }
:pass(0) a[href*="archive.cnx.org/specials/"] {
  attr-target: "_blank"; }
:pass(0) .try [data-type="solution"] {
  move-to: trash; }
:pass(0) .exercise {
  string-set: isSolution ""; }
  :pass(0) .exercise .solution {
    string-set: isSolution " hasSolution "; }
  :pass(0) .exercise::deferred {
    class: attr(class) string(isSolution, " "); }

:pass(1) body {
  counter-reset: chapter; }
:pass(1) div[data-type="chapter"] {
  counter-increment: chapter; }
:pass(1) div[data-type="chapter"]::before {
  container: span;
  content: counter(chapter);
  class: number;
  move-to: bChapterLabel; }
:pass(1) div[data-type="chapter"]::before {
  container: span;
  content: " | ";
  class: divider;
  move-to: bChapterLabel; }
:pass(1) div[data-type="chapter"] > [data-type="document-title"] {
  container: h1;
  content: pending(bChapterLabel) content(); }
:pass(1) body {
  counter-reset: appendix; }
:pass(1) div.appendix {
  counter-increment: appendix; }
:pass(1) div.appendix::before {
  container: span;
  content: "Appendix ";
  class: title-label;
  move-to: bAppendixLabel; }
:pass(1) div.appendix::before {
  container: span;
  content: counter(appendix,upper-alpha);
  class: number;
  move-to: bAppendixLabel; }
:pass(1) div.appendix::before {
  container: span;
  content: " : ";
  class: divider;
  move-to: bAppendixLabel; }
:pass(1) div.appendix > [data-type="document-title"] {
  container: h1;
  content: pending(bAppendixLabel) content(); }
:pass(1) [data-type="chapter"], :pass(1) .appendix {
  counter-reset: section; }
:pass(1) div[data-type="chapter"] > div[data-type="page"]:not(.introduction) {
  counter-increment: section; }
:pass(1) div[data-type="chapter"] > div[data-type="page"]:not(.introduction)::before {
  container: span;
  content: counter(chapter) "." counter(section);
  class: number;
  move-to: bSectionLabel; }
:pass(1) div[data-type="chapter"] > div[data-type="page"]:not(.introduction)::before {
  container: span;
  content: " | ";
  class: divider;
  move-to: bSectionLabel; }
:pass(1) div[data-type="chapter"] > div[data-type="page"]:not(.introduction) > [data-type="document-title"] {
  container: h2;
  content: pending(bSectionLabel) content(); }
:pass(1) div[data-type="chapter"] > div[data-type="page"].introduction > [data-type="document-title"] {
  container: h2; }
:pass(1) [data-type="chapter"], :pass(1) .appendix {
  counter-reset: example; }
:pass(1) div[data-type="chapter"] [data-type="example"] {
  counter-increment: example; }
:pass(1) .example::before {
  container: span;
  content: "Example ";
  class: title-label;
  move-to: bExampleLabel; }
:pass(1) .example::before {
  container: span;
  content: counter(chapter) "." counter(example);
  class: number;
  move-to: bExampleLabel; }
:pass(1) .example > [data-type="title"] {
  move-to: trash; }
  :pass(1) .example > [data-type="title"]::before {
    container: span;
    content: content();
    class: text;
    move-to: bExampleLabel; }
:pass(1) .example::after {
  container: div;
  content: pending(bExampleLabel);
  class: "title";
  move-to: bExampleHeader; }
:pass(1) .example:deferred {
  content: pending(bExampleHeader) content(); }
:pass(1) .example [data-type="solution"]::before {
  container: span;
  content: "Solution ";
  class: title-label;
  move-to: -TITLECONTAINER; }
:pass(1) .example [data-type="solution"]::before {
  container: span;
  content: counter(chapter) "." counter(example);
  class: number;
  move-to: -TITLECONTAINER; }
:pass(1) .example [data-type="solution"]::before {
  container: div;
  data-type: "solution-title";
  content: pending(-TITLECONTAINER); }
:pass(1) [data-type="chapter"], :pass(1) .appendix {
  counter-reset: Try; }
:pass(1) [data-type="note"].try {
  counter-increment: Try; }
:pass(1) [data-type="note"].try::before {
  container: span;
  content: "Try It ";
  class: title-label;
  move-to: bNoteLabel-try; }
:pass(1) [data-type="note"].try::before {
  container: span;
  content: counter(chapter) "." counter(example);
  class: number;
  move-to: bNoteLabel-try; }
:pass(1) [data-type="note"].try > [data-type="title"] {
  move-to: trash; }
:pass(1) [data-type="note"].try::after {
  container: div;
  content: pending(bNoteLabel-try);
  class: "title";
  move-to: bNoteHeader; }
:pass(1) [data-type="note"].try:deferred {
  content: pending(bNoteHeader) content(); }
:pass(1) [data-type="note"].calculator::before {
  container: span;
  content: "Using the TI-83, 83+, 84, 84+ Calculator";
  class: title-label;
  move-to: bNoteLabel-calculator; }
:pass(1) [data-type="note"].calculator > [data-type="title"] {
  move-to: trash; }
:pass(1) [data-type="note"].calculator::after {
  container: div;
  content: pending(bNoteLabel-calculator);
  class: "title";
  move-to: bNoteHeader; }
:pass(1) [data-type="note"].calculator:deferred {
  content: pending(bNoteHeader) content(); }
:pass(1) body {
  counter-reset: term; }
:pass(1) div[data-type="page"] span[data-type="term"], :pass(1) div[data-type="composite-page"] span[data-type="term"] {
  counter-increment: term; }
:pass(1) div[data-type="page"],
:pass(1) div[data-type="composite-page"] {
  string-set: pageID attr(id); }
:pass(1) div[data-type="page"] span[data-type="term"],
:pass(1) div[data-type="composite-page"] span[data-type="term"] {
  attr-id: "auto_" string(pageID) "_term" counter(term); }
  :pass(1) div[data-type="page"] span[data-type="term"]:match("^[a-zA-Z]"),
  :pass(1) div[data-type="composite-page"] span[data-type="term"]:match("^[a-zA-Z]") {
    attr-group-by: first-letter(content()); }
  :pass(1) div[data-type="page"] span[data-type="term"]:match("^[^a-zA-Z]"),
  :pass(1) div[data-type="composite-page"] span[data-type="term"]:match("^[^a-zA-Z]") {
    attr-group-by: ""; }
:pass(1) div[data-type="page"] > [data-type="document-title"],
:pass(1) div[data-type="composite-page"] > [data-type="document-title"] {
  node-set: sectionHeaderNode; }
:pass(1) div[data-type="chapter"] div[data-type="glossary"] > h3[data-type="glossary-title"] {
  move-to: trash; }
:pass(1) div[data-type="chapter"] div[data-type="glossary"] dl {
  move-to: glossary-TOCOMPOSITE; }
  :pass(1) div[data-type="chapter"] div[data-type="glossary"] dl > h3[data-type="title"] {
    move-to: trash; }
:pass(1) div[data-type="chapter"]::after {
  container: div;
  content: pending(glossary-TOCOMPOSITE);
  class: "eoc glossary-container";
  data-type: "composite-page";
  sort-by: dl > dt, nocase; }
:pass(1) div[data-type="chapter"] section.summary {
  content: nodes(sectionHeaderNode) content();
  move-to: summary-TOCOMPOSITE; }
  :pass(1) div[data-type="chapter"] section.summary > h3[data-type="title"] {
    move-to: trash; }
:pass(1) div[data-type="chapter"]::after {
  container: div;
  content: pending(summary-TOCOMPOSITE);
  class: "eoc summary-container";
  data-type: "composite-page"; }
:pass(1) div[data-type="chapter"] section.self-check-questions {
  move-to: self-check-questions-TOCOMPOSITE; }
  :pass(1) div[data-type="chapter"] section.self-check-questions > h3[data-type="title"] {
    move-to: trash; }
:pass(1) div[data-type="chapter"]::after {
  container: div;
  content: pending(self-check-questions-TOCOMPOSITE);
  class: "eoc self-check-questions-container";
  data-type: "composite-page"; }
:pass(1) div[data-type="chapter"] section.review-questions {
  move-to: review-questions-TOCOMPOSITE; }
  :pass(1) div[data-type="chapter"] section.review-questions > h3[data-type="title"] {
    move-to: trash; }
:pass(1) div[data-type="chapter"]::after {
  container: div;
  content: pending(review-questions-TOCOMPOSITE);
  class: "eoc review-questions-container";
  data-type: "composite-page"; }
:pass(1) div[data-type="chapter"] section.critical-thinking {
  move-to: critical-thinking-TOCOMPOSITE; }
  :pass(1) div[data-type="chapter"] section.critical-thinking > h3[data-type="title"] {
    move-to: trash; }
:pass(1) div[data-type="chapter"]::after {
  container: div;
  content: pending(critical-thinking-TOCOMPOSITE);
  class: "eoc critical-thinking-container";
  data-type: "composite-page"; }
:pass(1) div[data-type="chapter"] section.problems {
  move-to: problems-TOCOMPOSITE; }
  :pass(1) div[data-type="chapter"] section.problems > h3[data-type="title"] {
    move-to: trash; }
:pass(1) div[data-type="chapter"]::after {
  container: div;
  content: pending(problems-TOCOMPOSITE);
  class: "eoc problems-container";
  data-type: "composite-page"; }

:pass(2) div[data-type="page"] > [data-type="document-title"],
:pass(2) div[data-type="composite-page"] > [data-type="document-title"] {
  node-set: sectionHeaderNode; }
:pass(2) div[data-type="page"] > [data-type="document-title"],
:pass(2) div[data-type="composite-page"] > [data-type="document-title"] {
  string-set: sectionHeaderString content(); }
:pass(2) [data-type="chapter"] section.references {
  content: nodes(sectionHeaderNode) content();
  move-to: references-TOCOMPOSITE; }
  :pass(2) [data-type="chapter"] section.references > h3[data-type="title"] {
    move-to: trash; }
:pass(2) div[data-type="page"] span[data-type="term"]::after, :pass(2) div[data-type="composite-page"] span[data-type="term"]::after {
  content: content();
  attr-group-by: attr(group-by);
  container: span;
  class: "term";
  move-to: index-term; }
:pass(2) div[data-type="page"] span[data-type="term"]::after, :pass(2) div[data-type="composite-page"] span[data-type="term"]::after {
  content: string(sectionHeaderString);
  container: span;
  class: "term-section";
  move-to: index-section; }
:pass(2) div[data-type="page"] span[data-type="term"]::after, :pass(2) div[data-type="composite-page"] span[data-type="term"]::after {
  container: a;
  content: pending(index-section);
  attr-href: "#" attr(id);
  class: "term-section-link";
  move-to: index-section-link; }
:pass(2) div[data-type="page"] span[data-type="term"]::after, :pass(2) div[data-type="composite-page"] span[data-type="term"]::after {
  content: pending(index-term) pending(index-section-link);
  class: index-item;
  move-to: index-TOCOMPOSITE; }
:pass(2) [data-type="chapter"], :pass(2) .appendix {
  counter-reset: exercise; }
:pass(2) .eoc [data-type="exercise"] {
  counter-increment: exercise; }
:pass(2) .eoc [data-type="exercise"] [data-type="problem"]::before {
  container: span;
  content: counter(exercise);
  class: number; }
:pass(2) .eoc [data-type="exercise"] [data-type="solution"]::before {
  container: span;
  content: counter(exercise);
  class: number; }

:pass(3) body {
  counter-reset: exerciseAll; }
:pass(3) .eoc [data-type="exercise"] {
  counter-increment: exerciseAll; }
:pass(3) .hasSolution [data-type=problem] .number {
  container: a;
  attr-id: "problem-" counter(exerciseAll);
  attr-href: "#" solution- counter(exerciseAll);
  string-set: problem-ID "problem-" counter(exerciseAll);
  string-set: solution-ID "solution-" counter(exerciseAll); }
:pass(3) [data-type=solution] .number::outside {
  container: a;
  attr-id: string(solution-ID);
  attr-href: "#" string(problem-ID); }
:pass(3) div[data-type="chapter"] {
  node-set: chapterHeaderNode; }
:pass(3) [data-type="chapter"] .solutions-chapter-area {
  content: nodes(chapterHeaderNode) content();
  move-to: solutions-TOCOMPOSITE; }
:pass(3) [data-type="chapter"] .references-chapter-area {
  content: nodes(chapterHeaderNode) content();
  move-to: references-TOCOMPOSITE; }
:pass(3) [data-type="chapter"] .index-chapter-area {
  content: nodes(chapterHeaderNode) content();
  move-to: index-TOCOMPOSITE; }

:pass(4) div[data-type="page"] > [data-type="document-title"],
:pass(4) div[data-type="composite-page"] > [data-type="document-title"] {
  node-set: sectionHeaderNode; }
:pass(4) [data-type="chapter"] .eoc.self-check-questions-container [data-type="solution"] {
  move-to: solutions-TOCOMPOSITE; }
:pass(4) [data-type="chapter"] .eoc.problems-container [data-type="solution"] {
  move-to: solutions-TOCOMPOSITE; }
:pass(4) body::after {
  container: div;
  content: pending(solutions-TOCOMPOSITE);
  class: "eob solutions-container";
  data-type: "composite-page"; }
:pass(4) body::after {
  container: div;
  content: pending(solutions-TOCOMPOSITE);
  class: "eob solutions-container";
  data-type: "composite-page"; }
:pass(4) body::after {
  container: div;
  content: pending(references-TOCOMPOSITE);
  class: "eob references-container";
  data-type: "composite-page"; }
:pass(4) body::after {
  container: div;
  content: pending(index-TOCOMPOSITE);
  class: "eob index-container";
  data-type: "composite-page";
  group-by: span, "span::attr(group-by)", nocase; }

:pass(5) .index-container > div.group-by:first-of-type > span.group-label {
  content: "Symbols"; }
:pass(5) body {
  counter-reset: chapter; }
:pass(5) div[data-type="chapter"] {
  counter-increment: chapter; }
:pass(5) body {
  counter-reset: appendix; }
:pass(5) div.appendix {
  counter-increment: appendix; }
:pass(5) [data-type="chapter"], :pass(5) .appendix {
  counter-reset: exercise; }
:pass(5) .eoc [data-type="exercise"] {
  counter-increment: exercise; }
:pass(5) [data-type="chapter"], :pass(5) .appendix {
  counter-reset: example; }
:pass(5) div[data-type="chapter"] [data-type="example"] {
  counter-increment: example; }
:pass(5) .eoc [data-type="exercise"] {
  string-set: target-label "Exercise " counter(chapter) "." counter(exercise); }
:pass(5) div[data-type="chapter"] .example {
  string-set: target-label "Example " counter(chapter) "." counter(example); }
:pass(5) div[data-type="chapter"] .try {
  string-set: target-label "Try It"; }
:pass(5) [data-type="chapter"] :not(table) > table {
  string-set: target-label "Table " counter(chapter) "." counter(table); }
:pass(5) [data-type="chapter"] :not(figure) > figure {
  string-set: target-label "Figure " counter(chapter) "." counter(figure); }
:pass(5) [data-type="appendix"] :not(table) > table {
  string-set: target-label "Table " counter(appendix,upper-alpha) "." counter(table); }
:pass(5) [data-type="appendix"] :not(figure) > figure {
  string-set: target-label "Table " counter(appendix,upper-alpha) "." counter(figure); }
:pass(5) a.autogenerated-content {
  content: target-string(attr(href), target-label); }
:pass(5) body > [data-type="metadata"] {
  node-set: bookMetadata; }
:pass(5) [data-type="composite-page"] {
  content: nodes(bookMetadata) content(); }
:pass(5) [data-type="composite-page"].eoc.glossary-container::before {
  container: span;
  content: "Key Terms";
  class: text;
  move-to: -TITLECONTAINER; }
:pass(5) [data-type="composite-page"].eoc.glossary-container::before {
  container: h1;
  data-type: "document-title";
  content: pending(-TITLECONTAINER); }
:pass(5) [data-type="composite-page"].eoc.summary-container::before {
  container: span;
  content: "Key Concepts and Summary";
  class: text;
  move-to: -TITLECONTAINER; }
:pass(5) [data-type="composite-page"].eoc.summary-container::before {
  container: h1;
  data-type: "document-title";
  content: pending(-TITLECONTAINER); }
:pass(5) [data-type="composite-page"].eoc.self-check-questions-container::before {
  container: span;
  content: "Self-Check Questions";
  class: text;
  move-to: -TITLECONTAINER; }
:pass(5) [data-type="composite-page"].eoc.self-check-questions-container::before {
  container: h1;
  data-type: "document-title";
  content: pending(-TITLECONTAINER); }
:pass(5) [data-type="composite-page"].eoc.review-questions-container::before {
  container: span;
  content: "Review Questions";
  class: text;
  move-to: -TITLECONTAINER; }
:pass(5) [data-type="composite-page"].eoc.review-questions-container::before {
  container: h1;
  data-type: "document-title";
  content: pending(-TITLECONTAINER); }
:pass(5) [data-type="composite-page"].eoc.critical-thinking-container::before {
  container: span;
  content: "Critical Thinking Questions";
  class: text;
  move-to: -TITLECONTAINER; }
:pass(5) [data-type="composite-page"].eoc.critical-thinking-container::before {
  container: h1;
  data-type: "document-title";
  content: pending(-TITLECONTAINER); }
:pass(5) [data-type="composite-page"].eoc.problems-container::before {
  container: span;
  content: "Problems";
  class: text;
  move-to: -TITLECONTAINER; }
:pass(5) [data-type="composite-page"].eoc.problems-container::before {
  container: h1;
  data-type: "document-title";
  content: pending(-TITLECONTAINER); }
:pass(5) [data-type="composite-page"].eob.solutions-container::before {
  container: span;
  content: "Answer Key";
  class: text;
  move-to: -TITLECONTAINER; }
:pass(5) [data-type="composite-page"].eob.solutions-container::before {
  container: h1;
  data-type: "document-title";
  content: pending(-TITLECONTAINER); }
:pass(5) [data-type="composite-page"].eob.references-container::before {
  container: span;
  content: "References";
  class: text;
  move-to: -TITLECONTAINER; }
:pass(5) [data-type="composite-page"].eob.references-container::before {
  container: h1;
  data-type: "document-title";
  content: pending(-TITLECONTAINER); }
:pass(5) [data-type="composite-page"].eob.index-container::before {
  container: span;
  content: "Index";
  class: text;
  move-to: -TITLECONTAINER; }
:pass(5) [data-type="composite-page"].eob.index-container::before {
  container: h1;
  data-type: "document-title";
  content: pending(-TITLECONTAINER); }
:pass(5) div[data-type="composite-page"] {
  attr-id: uuid() "@1"; }
:pass(5) div[data-type='chapter'] > h1[data-type='document-title'] {
  counter-increment: chapTitleNum;
  attr-id: "chapTitle" counter(chapTitleNum); }
:pass(5) [data-type="chapter"], :pass(5) .appendix {
  counter-reset: table; }
:pass(5) :not(table) > table {
  counter-increment: table; }
:pass(5) [data-type="chapter"], :pass(5) .appendix {
  counter-reset: figure; }
:pass(5) :not(figure) > figure {
  counter-increment: figure; }
:pass(5) [data-type="chapter"] :not(table) > table::before {
  container: span;
  content: "Table ";
  class: title-label;
  move-to: bCaption; }
:pass(5) [data-type="chapter"] :not(table) > table::before {
  container: span;
  content: counter(chapter) "." counter(table);
  class: number;
  move-to: bCaption; }
:pass(5) [data-type="chapter"] :not(table) > table caption [data-type="title"] {
  container: span;
  class: "title";
  move-to: bCaption; }
:pass(5) [data-type="chapter"] :not(table) > table::after {
  container: div;
  class: "caption-container";
  content: pending(bCaption);
  move-to: bCaptionContainer; }
:pass(5) [data-type="chapter"] :not(table) > table::outside {
  class: table;
  container: div;
  content: content() pending(bCaptionContainer); }
:pass(5) .appendix :not(table) > table::before {
  container: span;
  content: "Table ";
  class: title-label;
  move-to: bCaption; }
:pass(5) .appendix :not(table) > table::before {
  container: span;
  content: counter(appendix,upper-alpha) "." counter(table);
  class: number;
  move-to: bCaption; }
:pass(5) .appendix :not(table) > table caption [data-type="title"] {
  container: span;
  class: "title";
  move-to: bCaption; }
:pass(5) .appendix :not(table) > table::after {
  container: div;
  class: "caption-container";
  content: pending(bCaption);
  move-to: bCaptionContainer; }
:pass(5) .appendix :not(table) > table::outside {
  class: table;
  container: div;
  content: content() pending(bCaptionContainer); }
:pass(5) [data-type="chapter"] :not(figure) > figure::before {
  container: span;
  content: "Figure ";
  class: title-label;
  move-to: bCaption; }
:pass(5) [data-type="chapter"] :not(figure) > figure::before {
  container: span;
  content: counter(chapter) "." counter(figure);
  class: number;
  move-to: bCaption; }
:pass(5) [data-type="chapter"] :not(figure) > figure figcaption {
  container: span;
  class: "caption";
  move-to: bCaption; }
:pass(5) [data-type="chapter"] :not(figure) > figure::after {
  container: div;
  class: "caption-container";
  content: pending(bCaption);
  move-to: bCaptionContainer; }
:pass(5) [data-type="chapter"] :not(figure) > figure::outside {
  class: figure;
  container: div;
  content: content() pending(bCaptionContainer); }
:pass(5) .appendix :not(figure) > figure::before {
  container: span;
  content: "Figure ";
  class: title-label;
  move-to: bCaption; }
:pass(5) .appendix :not(figure) > figure::before {
  container: span;
  content: counter(appendix,upper-alpha) "." counter(figure);
  class: number;
  move-to: bCaption; }
:pass(5) .appendix :not(figure) > figure figcaption {
  container: span;
  class: "caption";
  move-to: bCaption; }
:pass(5) .appendix :not(figure) > figure::after {
  container: div;
  class: "caption-container";
  content: pending(bCaption);
  move-to: bCaptionContainer; }
:pass(5) .appendix :not(figure) > figure::outside {
  class: figure;
  container: div;
  content: content() pending(bCaptionContainer); }

:pass(6) [data-type="composite-page"] > [data-type="document-title"] {
  string-set: doc-title-TOMETADATA content(); }
:pass(6) [data-type="composite-page"] > [data-type="metadata"] > [data-type="document-title"] {
  content: string(doc-title-TOMETADATA); }

:pass(7) div.eoc [data-type="cnx-archive-uri"], :pass(7) div.eob [data-type="cnx-archive-uri"] {
  move-to: trash; }
:pass(7) body > div[data-type="page"],
:pass(7) body > div[data-type="composite-page"] {
  string-set: page-id attr(id); }
  :pass(7) body > div[data-type="page"] > [data-type='document-title'],
  :pass(7) body > div[data-type="composite-page"] > [data-type='document-title'] {
    node-set: pageTitle; }
  :pass(7) body > div[data-type="page"]::after,
  :pass(7) body > div[data-type="composite-page"]::after {
    content: nodes(pageTitle);
    attr-href: "#" string(page-id);
    container: a;
    move-to: page-link; }
  :pass(7) body > div[data-type="page"]::after,
  :pass(7) body > div[data-type="composite-page"]::after {
    content: pending(page-link);
    move-to: eob-toc;
    container: li; }
:pass(7) body > div[data-type='chapter'] > [data-type='document-title'] {
  node-set: chapterTitle;
  string-set: chapTitle-id attr(id); }
:pass(7) body > div[data-type='chapter']::after {
  content: nodes(chapterTitle);
  attr-href: "#" string(chapTitle-id);
  container: a;
  move-to: eoc-toc; }
:pass(7) body > div[data-type='chapter'] > div[data-type="page"],
:pass(7) body > div[data-type='chapter'] > div[data-type="composite-page"] {
  string-set: page-id-chap attr(id); }
  :pass(7) body > div[data-type='chapter'] > div[data-type="page"] > [data-type='document-title'],
  :pass(7) body > div[data-type='chapter'] > div[data-type="composite-page"] > [data-type='document-title'] {
    node-set: PageTitle; }
  :pass(7) body > div[data-type='chapter'] > div[data-type="page"]::after,
  :pass(7) body > div[data-type='chapter'] > div[data-type="composite-page"]::after {
    content: nodes(PageTitle);
    attr-href: "#" string(page-id-chap);
    container: a;
    move-to: page-link; }
  :pass(7) body > div[data-type='chapter'] > div[data-type="page"]::after,
  :pass(7) body > div[data-type='chapter'] > div[data-type="composite-page"]::after {
    content: pending(page-link);
    move-to: eoc-toc-pages;
    container: li; }
:pass(7) body > div[data-type='chapter']::after {
  content: pending(eoc-toc-pages);
  container: ol;
  class: chapter;
  move-to: eoc-toc; }
:pass(7) body > div[data-type='chapter']::after {
  content: pending(eoc-toc);
  container: li;
  move-to: eob-toc; }
:pass(7) body > div[data-type="unit"] > [data-type='document-title'] {
  copy-to: eou-toc; }
:pass(7) body > div[data-type="unit"] > div[data-type='chapter'] > [data-type='document-title'] {
  copy-to: eoc-toc; }
:pass(7) body > div[data-type="unit"] > div[data-type='chapter'] > div[data-type="page"] > [data-type='document-title'],
:pass(7) body > div[data-type="unit"] > div[data-type='chapter'] > div[data-type="composite-page"] > [data-type='document-title'] {
  copy-to: page-title; }
:pass(7) body > div[data-type="unit"] > div[data-type='chapter'] > div[data-type="page"]::after,
:pass(7) body > div[data-type="unit"] > div[data-type='chapter'] > div[data-type="composite-page"]::after {
  content: pending(page-title);
  move-to: eoc-toc-pages;
  container: li; }
:pass(7) body > div[data-type="unit"] > div[data-type='chapter']::after {
  content: pending(eoc-toc-pages);
  container: ol;
  class: chapter;
  move-to: eoc-toc; }
:pass(7) body > div[data-type="unit"] > div[data-type='chapter']::after {
  content: pending(eoc-toc);
  container: li;
  move-to: eou-toc-chapters; }
:pass(7) body > div[data-type="unit"]::after {
  content: pending(eou-toc-chapters);
  container: ol;
  class: unit;
  move-to: eou-toc; }
:pass(7) body > div[data-type="unit"]::after {
  content: pending(eou-toc);
  container: li;
  move-to: eob-toc; }

:pass(8) nav#toc {
  content: ''; }
  :pass(8) nav#toc::after {
    content: pending(eob-toc);
    container: ol; }

:pass(9) nav#toc li > a > h1 > span,
:pass(9) nav#toc li > a > h2 > span,
:pass(9) nav#toc li > a > div > span {
  move-to: title-spans; }
:pass(9) nav#toc li > a:deferred {
  content: pending(title-spans); }

:pass(100) body:deferred::after {
  content: clear(trash); }

/*# sourceMappingURL=guide.css.map */
